#container-tarefas {
    background-image: url(./imagens/bannerBranco.png); 
    background-size: 150px 150px;
}

#btn-criar-tarefa{
    background-color: #0d6efd; 
    color: #f8f9fa;
}

a {
    cursor: pointer;
}

.tarefa-concluida {
    text-decoration: line-through;
}

.icone-prioridade {
    color: #0d6efd;
}
