
body {
    background-image: url(./imagens/banner.png);
}

.btn-social {
    width: 45%;
}

.btn-cadastrar {
    background-color: #004759;
    color: #f8f9fa;
}

.btn-cadastrar:hover {
    background-color: #44AFB3;
    border-color: #004759;
    color: #f8f9fa;
}