
.btn-nav-entrar {
    color: #00232B;
    border-color: #004759;
}

.btn-nav-conta {
    background-color: #004759;
    color: #f8f9fa;
}

.btn-nav-conta:hover, .btn-nav-entrar:hover {
    background-color: #44AFB3;
    border-color: #004759;
    color: #f8f9fa;
}

.banner {
    background-image: url(./imagens/banner.png);
    min-height: 80vh;
}


.banner h1, .banner p {
    color: #00232B;
}

.funcionalidade {
    min-height: 20vh;
}


.planos {
    background-color: #44AFB3;
    
}

.card-header {
    background-color: #004759;
}


.btn-plano {
    background-color: #004759;
    color: #f8f9fa;
}

.btn-plano:hover {
    background-color: #44AFB3;
    color: #f8f9fa;
}

footer {
    background-color: #00232B;
}


@media screen and (max-width: 576px) {
    .banner {
        background-size: 150px 150px;
        
    }

}

