
.btn-nav-entrar {
    color: #00232B;
    border-color: #004759;
}

.btn-nav-conta {
    background-color: #004759;
    color: #f8f9fa;
}

.btn-nav-conta:hover, .btn-nav-entrar:hover {
    background-color: #44AFB3;
    border-color: #004759;
    color: #f8f9fa;
}

.banner {
    background-image: url(./imagens/banner.png);
    min-height: 100vh;
}

.banner h1, .banner p {
    color: #00232B;
}

.funcionalidade {
    position: relative;
}
.funcionalidade > .row:first-child {
    position: absolute;
    height: 100%;
    width: 100%;
}

.planos {
    background-color: #44AFB3;
    
}

.card-header {
    background-color: #004759;
}


.btn-plano {
    background-color: #004759;
    color: #f8f9fa;
}

.btn-plano:hover {
    background-color: #44AFB3;
    color: #f8f9fa;
}


@media screen and (max-width: 639px) {
    .banner {
        background-size: 150px 150px;
        min-height: 70vh;
    }

   .funcionalidade {
       min-height: 30vh;
   }

   .planos {
       background-size: 150px 150px;
   }
   /* #4BC1C6
   #6c757d */
}